<turbo-frame id="search-result-box">
  <div class="search-result-box-inner" class="mdc-layout-grid__cell--span-8">
    {% if projects or vulnerabilities %}
    <div>
      {% if projects %}
      <div class="suggestion-grid-row heading">
        <h2 style="grid-column-start: 2; grid-column-end: 5">Top Packages</h2>
      </div>
      {% endif %}
      {% for proj in projects %}
      <a class="suggestion-grid-row" onclick="autocompleteClick('{{ proj.project }}', '{{ proj.ecosystem }}')" href="#">
        <mwc-icon class="source-icon">source</mwc-icon>
        <!-- Use javascript to submit search form rather than an input because we have to update the search box -->
        <span>{{ proj.project }}</span>
        <span><i>Vulnerability Count: {{ proj.count }}</i></span>
        <span><b>{{ proj.ecosystem }}</b></span>
      </a>
      {% endfor %}
      {% if vulnerabilities %}
      <div class="suggestion-grid-row heading">
        <h2 style="grid-column-start: 2; grid-column-end: 5;">Vulnerability IDs</h2>
      </div>
      {% endif %}
      {% for vuln in vulnerabilities %}
      <a class="suggestion-grid-row" href="{{ url_for('frontend_handlers.vulnerability', vuln_id=vuln.id()) }}">
        <mwc-icon class="source-icon">bug_report</mwc-icon>
        <span>{{ vuln.id() }}</span>
        <span><i>{{vuln.project[0]}}</i></span>
        <span><b>{{ vuln.ecosystem[0] }}</b></span>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <h2 class="suggestion-grid-row heading">No Results</h2>
    {% endif %}
  </div>
  <turbo-frame>